body,h1 {
    margin: 0;
    padding: 0;
}
.header {
    background: #CEF279;
    height: 40px;
    padding: 10px;
}
h1 {
    float: left;
}
.menu {
    float:right;
    margin: 0 0 0 0;
    padding: 10px;
}
.container {
    max-width: 600px;
    margin: 20px auto;
}
#memo {
    width: 100%;
    height: 200px;
}

h3, h5{
  margin-top: 0;
  padding: 0;
}
.about_app{
  max-width: 300px;
  position: absolute;
  left: 50%; margin-left: -150px;
  top: 50%; margin-top: -150px;
  background-color: #E4F7BA;
  text-align: center;

  height: 0;
  overflow: hidden;
}

#close_about {
  margin-top: 15px;
  margin-bottom: 5px;
}
